.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

.card-hotel {
    flex: 1 200px;
    
    margin-top: 10px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.btn-reverva {
    width: 100%;    
}

.footer-address-icon {
    padding-right: 10px;
}